<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head :: fragment-head"></div>
</head>
<style>
  div { position: static; }
  body{
      margin: 0 auto;
      width: 1200px;
  }
  ul {
      list-style: none;
  }
</style>
<body>

<div th:replace="/fragments/commonNav :: commonNav" style="color: white"></div>

      <div class="row mb-5" style="color: white">
        <div class="col-md-12">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-3 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-black col-sm-10"># 커뮤니티</strong>
                <a href="#" class="justify-content-between col-sm-2">+ 더보기</a>
              <ul>
                  <a href="#">
                      1. <li>커뮤니티 첫번째 제목 : 동해물과 백두산이 마르고 닳도록</li>
                  </a>
                  <a href="#">
                      2. <li>커뮤니티 두번째 제목 : 하느님이 보우하사 우리나라 만세</li>
                  </a>
                  <a href="#">
                      3. <li>커뮤니티 세번째 제목 : 무궁화 삼천리 화려강산</li>
                  </a>
                  <a href="#">
                      4. <li>커뮤니티 네번째 제목 : 대한 사람 대한으로 길이 보전하세</li>
                  </a>
                  <a href="#">
                      5. <li>커뮤니티 다섯번째 제목 : 남산 위에 저 소나무 철갑을 두른 듯</li>
                  </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    

      <div class="row mb-2"> &nbsp&nbsp&nbsp&nbsp&nbsp 금주 영화 순위</div>
      <div class="row mb-5">
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <a href="#">
                <img src="https://file2.nocutnews.co.kr/newsroom/image/2022/04/08/202204081311322351_0.jpg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <a href="#">
                    <img src="https://file2.nocutnews.co.kr/newsroom/image/2022/04/08/202204081311322351_0.jpg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <a href="#">
                    <img src="https://file2.nocutnews.co.kr/newsroom/image/2022/04/08/202204081311322351_0.jpg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <a href="#">
                    <img src="https://file2.nocutnews.co.kr/newsroom/image/2022/04/08/202204081311322351_0.jpg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
      </div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-black"># 공지사항</strong>
                <a href="#" class="justify-content-between">+ 더보기</a>
                <ol>
                    <a href="#">
                        <li>공지사항 첫번째</li>
                    </a>
                    <a href="#">
                        <li>공지사항 두번째</li>
                    </a>
                    <a href="#">
                        <li>공지사항 세번째</li>
                    </a>
                    <a href="#">
                        <li>공지사항 네번째</li>
                    </a>
                    <a href="#">
                        <li>공지사항 다섯번째</li>
                    </a>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-black"># 최신글</strong>
                <a href="#" class="justify-content-between">+ 더보기</a>
                <ol>
                    <a href="#">
                        <li>최신글 첫번째</li>
                    </a>
                    <a href="#">
                        <li>최신글 두번째</li>
                    </a>
                    <a href="#">
                        <li>최신글 세번째</li>
                    </a>
                    <a href="#">
                        <li>최신글 네번째</li>
                    </a>
                    <a href="#">
                        <li>최신글 다섯번째</li>
                    </a>
                </ol>
            </div>
        </div>
    </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>