<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="/fragments/head :: fragment-head"></div>
</head>
<style>
  div { position: static; }
</style>
<body>

<div th:replace="/fragments/commonNav :: commonNav"></div>


  <main class="form-signin w-100 m-auto">
  <form action="/login" method="post">
    <h1 class="h3 mb-5 fw-normal" align="center">로그인</h1>
    <div class="d-flex justify-content-center form-floating mb-4">
      <input type="email" name="email" class="w-50 form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput" text-align="center">이메일 주소</label>
    </div>
    <div class="d-flex justify-content-center form-floating mb-4">
      <input type="password" name="password" class="w-50 form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">비밀번호</label>
    </div>
    <div class="checkbox mb-3">
      <label>
<!--        <input type="checkbox" value="remember-me"> 로그인 유지-->
      </label>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="/user/signUp" align="center">회원가입</a>
        </div>
<!--        <div class="col">-->
<!--          PW찾기-->
<!--        </div>-->
      </div>
    </div>
      <button class="w-30 btn btn-lg btn-primary" id="registButton" type="submit">회원가입</button>
    <hr class="my-4">
<!--    <button class="w-50 py-2 mb-2 btn btn-outline-dark rounded-3" type="submit">-->
<!--      <svg class="bi me-1" width="16" height="16"><use xlink:href="#google"/></svg>-->
<!--      구글 로그인-->
<!--    </button>-->
<!--    <button class="w-50 py-2 mb-2 btn btn-outline-dark rounded-3" type="submit">-->
<!--      <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"/></svg>-->
<!--      페이스북 로그인-->
<!--    </button>-->
  </form>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>