<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="/fragments/head :: fragment-head"></div>
</head>
<style>
  div { position: static; }
  body{
    margin: 0 auto;
    width: 1200px;
  }
</style>
<body>

<div th:replace="/fragments/commonNav :: commonNav"></div>

<main class="form-signin w-100 m-auto text-center">
  <form>
    <h1 class="h3 mb-5 fw-normal">비밀번호 찾기</h1>

    <div class="row d-flex justify-content-center form-floating mb-5">
      <div class="col-sm-9" >
        <input type="email" class="w-75 form-control" id="floatingInput" placeholder="name@example.com" style="float: right;">
      </div>
      <div class="col-sm-3" >
        <button class="btn btn-primary me-md-2 justify-content-end" style="float: left;" type="button">인증</button>
      </div>
    </div>
    <div class="row d-flex justify-content-center form-floating mb-5">
      <div class="col-sm-9">
        <input type="password" class="w-75 form-control" id="floatingPassword" placeholder="Password" style="float: right;">
      </div>
      <div class="col-sm-3">
        <button class="btn btn-primary me-md-2 justify-content-end float-front" type="button" style="float: left;">확인</button>
      </div>
      <div id="passwordlHelp" class="form-text mb-5" style="float: left">인증번호를 입력해주세요.</div>
    </div>
  </form>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>