<!doctype html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/head :: fragment-head"></div>
</head>
<style>
    div {
        position: static;
    }
    body{
        margin: 0 auto;
        width: 1200px;
    }
</style>
<body>
<div th:replace="/fragments/commonNav :: commonNav"></div>
<div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>영화관련</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/board/list?category=영화리뷰">
                    <span data-feather="file-text" class="align-text-bottom">영화리뷰</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/board/list?category=시사회">
                    <span data-feather="file-text" class="align-text-bottom">시사회</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/board/list?category=토론">
                    <span data-feather="file-text" class="align-text-bottom">토론</span>
                </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>커뮤니티</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/board/list?category=유머">
                    <span data-feather="file-text" class="align-text-bottom">유머</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/board/list?category=자유">
                    <span data-feather="file-text" class="align-text-bottom">자유</span>
                </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>극장</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/board/list?category=극장맛집">
                    <span data-feather="file-text" class="align-text-bottom">극장맛집</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/board/list?category=굿즈">
                    <span data-feather="file-text" class="align-text-bottom">굿즈</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/board/list?category=극장볼거리">
                    <span data-feather="file-text" class="align-text-bottom">극장볼거리</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="row col-md-9 col-lg-10 p-4 mb-4 text-black bg-light ">
        <div class="px-3">
            <!--            <div class="form-check form-check-inline">-->
            <!--                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">-->
            <!--                <label class="form-check-label" for="inlineCheckbox1">최신</label>-->
            <!--            </div>-->
            <!--            <div class="form-check form-check-inline">-->
            <!--                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">-->
            <!--                <label class="form-check-label" for="inlineCheckbox2">인기</label>-->
            <!--            </div>-->
            <div class="d-flex justify-content-end align-items-center">
                <input type="text"/>
                <a class="link-secondary" href="#" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                         stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                         viewBox="0 0 24 24"><title>Search</title>
                        <circle cx="10.5" cy="10.5" r="7.5"/>
                        <path d="M21 21l-5.2-5.2"/>
                    </svg>
                </a>
            </div>
            <hr style="border: solid 1px black;">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>등록일</th>
                    <th>글쓴이</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${boardList}">
                    <td th:text="${board.boardNo}">번호</td>
                    <td><a class="text-decoration-none" th:href="@{/board/detail/{id}(id=${board.id})}" th:text="${board.title}" style="color: black">제목</a></td>
                    <td th:text="${#dates.format(board.regDt, 'yyyy-MM-dd HH:mm:ss')}">등록일</td>
                    <td th:text="${board.regNm}">글쓴이</td>
                </tr>
                </tbody>
            </table>
            <hr style="border: solid 1px black;">
            <a sec:authorize="isAuthenticated()" href="/board/write" class="btn btn-primary float-end" type="button">글쓰기</a>
        </div>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">이전</a></li>
        <li class="page-item"><a class="page-link" href="/board/list?pageIndex=1">1</a></li>
        <li class="page-item"><a class="page-link" href="/board/list?pageIndex=2">2</a></li>
        <li class="page-item"><a class="page-link" href="/board/list?pageIndex=3">3</a></li>
        <li class="page-item"><a class="page-link" href="/board/list?pageIndex=4">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">7</a></li>
        <li class="page-item"><a class="page-link" href="#">8</a></li>
        <li class="page-item"><a class="page-link" href="#">9</a></li>
        <li class="page-item"><a class="page-link" href="#">10</a></li>
        <li class="page-item"><a class="page-link" href="#">다음</a></li>
    </ul>
</nav>
</div>
<script>

    // const url = '/api/board/gets.api';
    // const param = {
    //     category: '자유',
    //     category: 'notice'
    // };
    //
    // console.log('api call');
    //
    // API_CALL.post(url, param, function (result, message, data) {
    //     if (!result) {
    //         alert(message);
    //         return false;
    //     }
    //     console.log('result: ', result);
    //     console.log('message: ', message);
    //     console.log('data: ', data);
    // })
</script>
</body>
<script th:src="@{/js/board/board.js(v=${#dates.createNow().getTime()})}"></script>
</html>
