<!doctype html>
<html lang="en">
<head>
    <div th:replace="fragments/head :: fragment-head"></div>
</head>
<style>
    div {
        position: static;
    }
</style>
<body>
<div th:replace="fragments/commonNav :: commonNav"></div>
<main>
    <form>
        <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-5  fw-normal text-center">공지사항</h1>
    </form>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="card center" style="width:50rem;">
                <img src="https://encosmall.kr/design/encos0720/shop/img/common/gonggi_top.jpg" class="card-img-top"
                     alt="...">
            </div>


</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>


</body>
</html>