<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head :: fragment-head"></div>
</head>
<style>
    div {
        position: static;

    }

    body {
        margin: 0 auto;
        width: 1200px;
        background-color: #E1F6FA;
    }
</style>
<body>

<div th:replace="/fragments/commonNav :: commonNav"></div>

<div class="d-md-block bg-light">
    <main class="form-signin w-100 m-auto text-center">
        <form action="/user/login" method="post">
            <h1 class="h3 mb-5 fw-normal mb-5" style="padding: 30px">로그인</h1>
            <div class="row d-flex justify-content-center form-floating mb-5">
                <div class="col-sm-4" style="line-height: 5px">
                    <label for="floatingInput" style="float: right;" class="col-form-label">이메일 주소</label>
                </div>
                <div class="col-sm-8">
                    <input type="email" name="email" class="w-75 form-control" id="floatingInput"
                           placeholder="name@example.com" required>
                </div>
            </div>
            <div class="row d-flex justify-content-center form-floating mb-4">
                <div class="col-sm-4" style=" line-height: 5px">
                    <label for="floatingPassword" style="float: right;" class="col-form-label">비밀번호</label>
                </div>
                <div class="col-sm-8">
                    <input type="password" name="password" class="w-75 form-control" id="floatingPassword" placeholder="Password" required>
                </div>
            </div>
            <span th:if="${error != null}">
                <p th:text="${exception}" id="valid" class="alert alert-danger"></p>
            </span>
            <button class="w-30 btn btn-lg btn-primary mb-5" id="registButton" type="submit">로그인</button>
            <div class="container">
                <div class="row">
                    <div class="col mb-5">
                        <a href="/user/signUp" align="center">회원가입</a>
                    </div>
                    <!--        <div class="col">-->
                    <!--          PW찾기-->
                    <!--        </div>-->
                </div>
            </div>
            <hr class="my-4">
            <!--    <button class="w-50 py-2 mb-2 btn btn-outline-dark rounded-3" type="submit">-->
            <!--      <svg class="bi me-1" width="16" height="16"><use xlink:href="#google"/></svg>-->
            <!--      구글 로그인-->
            <!--    </button>-->
            <!--    <button class="w-50 py-2 mb-2 btn btn-outline-dark rounded-3" type="submit">-->
            <!--      <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"/></svg>-->
            <!--      페이스북 로그인-->
            <!--    </button>-->
        </form>
    </main>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>