<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head :: fragment-head"></div>
</head>

<style>
    body{
        margin: 0 auto;
        width: 1200px;
        background-color: #E1F6FA;
    }
    .container1{
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .youtube-wrap {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }
    .youtube-wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<body>

<div th:replace="/fragments/commonNav :: commonNav"></div>

<div class="container1">
    <div style="width: 85%; margin: auto; background-color: white">

        <div class=" d-flex justify-content-between">
            <div>
                <h3 th:text="${movie.title}"></h3>
                <div>
                    <span th:text="|${movie.originalTitle},|"></span>
                    <span th:text="| ${#dates.format(movie.releaseDate, 'yyyy')}|"></span>
                </div>
                <button th:style="${movie.bookMarkYn ? 'background-color:yellow' : 'background-color:white'}" id="movie-bookmark">즐겨찾기</button>
                <hr style="border: none;height: 1px" class="mb-5">
                <div class="mb-3">
                    <span><b>장르</b> </span>
                    <span th:text="${movie.genreNames}"></span>
                </div>
                <div class="mb-3">
                    <span><b>평점</b> </span>
                    <span th:text="${movie.voteAverage}"></span>
                </div>
                <div class="mb-3">
                    <span><b>성인 여부</b> </span>
                    <span th:if="${movie.isAdult()}">해당</span>
                    <span th:unless="${movie.isAdult()}">해당없음</span>
                </div>
                <div class="mb-3">
                    <span><b>개봉일</b> </span>
                    <span th:text="| ${#dates.format(movie.releaseDate, 'yyyy-MM-dd')}|"></span>
                </div>
                <div class="mb-3">
                    <span><b>상영시간</b> </span>
                    <span th:text="| ${movie.runtime} 분|"></span>
                </div>
                <div class="mb-3">
                    <div><b>구매</b> </div>
                    <span th:each="logo : ${movie.watchProvidersBuyList}">
                        <img style="width: 50px; height: 50px;" th:src="${logo.fullLogPath}">
                    </span>
                </div>
                <div class="mb-3">
                    <div><b>대여</b> </div>
                    <span th:each="logo : ${movie.watchProvidersRentList}">
                        <img style="width: 50px; height: 50px;" th:src="${logo.fullLogPath}">
                    </span>
                </div>
            </div>
            <div>
                <img th:src="${movie.fullPosterPath}">
            </div>
        </div>
        <br>
        <hr style="border: solid 1px gray" class="mb-5">
        <div class="mb-5">
            <div th:text="${movie.overview}"></div>
        </div>
        <div class="youtube-wrap" th:each="youtube : ${movie.watchYoutubeList}">
            <iframe width="100%" height="100%" th:src="${youtube.youtubeUrl}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>


</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script th:src="@{/js/movie/detail.js(v=${#dates.createNow().getTime()})}"></script>
</html>