<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head :: fragment-head"></div>
</head>

<style>
    body{
        margin: 0 auto;
        width: 1200px;
        background-color: #E1F6FA;
    }
</style>
<body>

<div th:replace="/fragments/movieNav :: movieNav"></div>

<div>
    <div style="color: black">
        <h4 th:text="${code.movieTitle}" style="color: white"></h4>
    </div>
    <br />
    <div class="row mb-3 justify-content-center" id="movieList">
        <!--            <div class="col-lg-2">-->
        <!--                <div class="card" style="width: 15rem;">-->
        <!--&lt;!&ndash;                    <img src="test/test.png" class="card-img-top" alt="...">&ndash;&gt;-->
        <!--                </div>-->
        <!--                <div>제목</div>-->
        <!--            </div>-->
    </div>
    <div class="text-center mb-5">
        <button type="button" class="btn btn-primary" id="moreList" >더보기</button>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script th:src="@{/js/movie/list.js(v=${#dates.createNow().getTime()})}"></script>
</html>