<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head :: fragment-head"></div>
</head>

<style>
    body{
        margin: 0 auto;
        width: 1200px;
        background-color: white;
    }
</style>
<body>


<div th:replace="/fragments/movieNav :: movieNav" style="color: black"></div>


<div th:each="code : ${codeList}">
        <div class="d-flex justify-content-between" style="color: black" >
            <h4 th:text="${code.movieTitle}"></h4>
            <a class="text-decoration-none" th:href="@{/movie/list(subId=${code.subId})}" style="color: black">+ 더보기</a>
        </div>
        <br/>
        <div class="row mb-5 justify-content-center">
            <div th:each="movie : ${code.movieList}" class="col-lg-3">
                <a class="text-center text-decoration-none" th:href="@{/movie/detail/{id}(id=${movie.id})}">
                    <div class="card">
                        <img th:src="${movie.fullPosterPath}" class="card-img-top" alt="...">
                    </div>
                    <div style="color: black" th:text="${movie.title}";></div>
                </a>
            </div>
        </div>
    </div>



    <script>

        const url = '/api/movie/gets.api';
        const param = {};

        // API_CALL.post(url, param, function (result, message, data) {
        //     if(!result) {
        //         alert(message);
        //         return false;
        //     }
        //     // 리스트 뿌리기
        // })
        //
        // axios.post(url, param).then(function(response) {
        //     console.log(response);
        // }).catch(function (err){
        //     console.log(err);
        // })

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>