<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="commonNav" class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/movie/main" class="nav-link px-2 link-secondary">영화소개</a></li>
      <li><a href="/board/communityList" class="nav-link px-2 link-dark">커뮤니티</a></li>
      <li><a href="/board/boardList" class="nav-link px-2 link-dark">게시판</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">마이페이지</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-primary me-2" sec:authorize="isAnonymous()" onclick="location.href='/user/login'">로그인</button>
      <button type="button" class="btn btn-primary me-2" sec:authorize="isAuthenticated()" onclick="location.href='/user/logout'">로그아웃</button>
      <!--            <button type="button" class="btn btn-outline-primary me-2">로그인</button>-->
    </div>
  </header>
</div>
</html>