<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments/head :: fragment-head"></div>
</head>

<style>
    body{
        margin: 0 auto;
        width: 1700px;
    }
</style>
<body>


    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          </a>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">™
            <li><a href="#" class="nav-link px-2 link-secondary">영화소개</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">커뮤니티</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">게시판</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">마이페이지</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">로그인</button>
          </div>
        </header>
    </div>


    <div class="d-flex justify-content-between" style="margin-left:150px; margin-right: 175px;">
        <span> # 액션</span>
        <a href="#">+ 더보기</a>
    </div>
    <div class="row mb-5 justify-content-center">
        <div th:each="action : ${actionList}" class="col-lg-2">
            <div class="card" style="width: 15rem;">
                <img th:src="${action.fullPosterPath}" class="card-img-top" alt="...">
            </div>
            <div th:text="${action.title}"></div>
        </div>
    </div>


    <div class="row" style="margin-left:150px; margin-right: 175px;">
        <div class="col"> # 로맨스</div>
        <a href="#" class="col d-flex justify-content-end align-items-center">+ 더보기</a>
    </div>
    <div class="row mb-5 justify-content-center">
        <div th:each="romance : ${romanceList}" class="col-lg-2">
            <div class="card" style="width: 15rem;">
                <img th:src="${romance.fullPosterPath}" class="card-img-top" alt="...">
            </div>
            <div th:text="${romance.title}"></div>
        </div>
    </div>

    <div class="row" style="margin-left:150px; margin-right: 175px;">
        <div class="col"> # 코미디</div>
        <a href="#" class="col d-flex justify-content-end align-items-center">+ 더보기</a>
    </div>
    <div class="row mb-5 justify-content-center">
        <div th:each="comedy : ${comedyList}" class="col-lg-2">
            <div class="card" style="width: 15rem;">
                <img th:src="${comedy.fullPosterPath}" class="card-img-top" alt="...">
            </div>
            <div th:text="${comedy.title}"></div>
        </div>
    </div>

    <div class="row" style="margin-left:150px; margin-right: 175px;">
        <div class="col"> # 판타지</div>
        <a href="#" class="col d-flex justify-content-end align-items-center">+ 더보기</a>
    </div>
    <div class="row mb-5 justify-content-center">
        <div th:each="fantasy : ${fantasyList}" class="col-lg-2">
            <div class="card" style="width: 15rem;">
                <img th:src="${fantasy.fullPosterPath}" class="card-img-top" alt="...">
            </div>
            <div th:text="${fantasy.title}"></div>
        </div>
    </div>

    <div class="row" style="margin-left:150px; margin-right: 175px;">
        <div class="col"> # 스릴러</div>
        <a href="#" class="col d-flex justify-content-end align-items-center">+ 더보기</a>
    </div>
    <div class="row mb-5 justify-content-center">
        <div th:each="thriller : ${thrillerList}" class="col-lg-2">
            <div class="card" style="width: 15rem;">
                <img th:src="${thriller.fullPosterPath}" class="card-img-top" alt="...">
            </div>
            <div th:text="${thriller.title}"></div>
        </div>
    </div>
    </div>


      

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>