<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head :: fragment-head"></div>
</head>
<style>
    div { position: static; }
    body{
        margin: 0 auto;
        width: 1200px;
    }
    ul > a{
        text-decoration: none;
        color: black;
    }


</style>
<body>

<div th:replace="/fragments/commonNav :: commonNav" style="color: white"></div>

<div class="row mb-5" style="color: white">
    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 w_title">
                <div class="d-flex justify-content-between">
                    <strong class="d-inline-block mb-2 text-black"># 최신글</strong>
                    <a href="/board/list" class="">+ 더보기</a>
                </div>
                <ul>
                    <a th:href="@{/board/detail/{id}(id=${board.id})}" th:each="board : ${boardList}">
                        <li th:text="${board.title}"></li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row mb-2"> &nbsp&nbsp&nbsp&nbsp&nbsp 금주 영화 순위</div>
<div class="row mb-5">
    <div class="col-lg-3" th:each="movie : ${movieList}">
        <a th:href="@{/movie/detail/{id}(id=${movie.id})}">
            <div class="card" style="width: 18rem;">
                <img th:src="${movie.fullPosterPath}" class="card-img-top" alt="...">
            </div>
            <div th:text="${movie.title}"></div>
        </a>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4">
                <div class="d-flex justify-content-between">
                    <strong class="d-inline-block mb-2 text-black"># 영화리뷰</strong>
                    <a href="/board/list?category=영화리뷰" class="">+ 더보기</a>
                </div>
                <ul>
                    <a th:href="@{/board/detail/{id}(id=${board.id})}" th:each="board : ${movieBoardList}">
                        <li th:text="${board.title}"></li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4">
                <div class="d-flex justify-content-between">
                    <strong class="d-inline-block mb-2 text-black"># 자유</strong>
                    <a href="/board/list?category=자유" class="">+ 더보기</a>
                </div>
                <ul>
                    <a th:href="@{/board/detail/{id}(id=${board.id})}" th:each="board : ${freedomBoardList}">
                        <li th:text="${board.title}"></li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>