<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/members/new" method="post" th:object="${memberFormDto}">
    <div>
        <label th:for="name">이름</label>
        <input type="text" th:field="*{name}" placeholder="이름을 입력하세요">
    </div>
    <div>
        <label th:for="email">이메일</label>
        <input type="email" th:field="*{email}" placeholder="이메일을 입력하세요">
    </div>
    <div>
        <label th:for="password">비밀번호</label>
        <input type="password" th:field="*{password}" placeholder="비밀번호를 입력하세요">
    </div>
    <button type="submit">제출하기</button>
</form>

</body>
</html>