
<!DOCTYPE html>
<html lang="en" xmlns:sec="" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>로그인 성공</title>
</head>
<body>
<h1>로그인 성공!!</h1>
<hr>
<p>
  <a sec:authorize="isAnonymous()" href="/user/loginPage">로그인</a>
  <a sec:authorize="isAuthenticated()" href="/user/logout">로그아웃</a>
  <sec:authorize access="isAuthenticated()">
    <div sec:authentication="principal.name"></div>
    <div sec:authentication="principal"></div>
    <div sec:authentication="principal.nickname"></div>
    <div sec:authentication="principal.authorities"></div>
  </sec:authorize>
</p>
<a sec:authorize="hasAuthority('ADMIN') or hasAuthority('USER')" href="/user/info">내정보</a><br>
<a sec:authorize="hasAuthority('ADMIN')" href="/user/admin">admin</a><br>

<a href="/">메인으로 이동</a>
</body>
</html>